@charset "utf-8";
/* CSS Document */
.contenu{
    margin-left:auto;
    margin-right:auto;
    border:1px solid #BFBFBF;
    height:250px;
    width:430px;
    box-shadow:2px 2px 10px;  
    -moz-box-shadow : 2px 2px 10px gray;
    -webkit-box-shadow:2px 2px 10px gray;

}

#page-connect{
    margin-bottom: 30px;
}

.titleconnexion{
    font-family:"Cambria",Times New Roman, Times, serif;
    font-size:20px;
    font-variant:small-caps; 
    font-weight:bold;
    padding-left:25px;
    text-shadow:1px 1px 2px gray;
}
.trait{
    position:relative;
    /*margin-left:28px;
    margin-right:28px;*/
    margin-top:-10px;
    padding:0px;
    border-bottom-color:#B7B7B7;
    border-bottom-style:solid;
    border-bottom-width:thin;
}

.txt{
    position:relative;
    font-family:"Cambria",Times New Roman, Times, serif;
    font-variant:small-caps; 
    font-weight:bold;
    margin-top:30px;
    font-size:14px;
    color:#666;
}
input[type=button], input[type=submit]{
    border:1px solid #CCC;
    border-radius:4px;
    -moz-border-radius:4px 4px 4px 4px;
    padding:4px;
    /*-moz-box-shadow : 2px 2px 6px gray ;
   -webkit-box-shadow:2px 2px 10px gray;*/
}
input[type=text], select, input[type=password]{
    border:1px solid #CCC;
    /* border-radius:4px;
     -moz-border-radius:4px 4px 4px 4px;*/
    padding:2px;
    width:200px;
}
#but{
    position:relative;
    margin-left:120px;
    width:90px;
    cursor:pointer;
    font-weight:bold;	
}
input[type=text]:hover,input[type=button]:hover, input[type=submit]:hover, select:hover{ border-color:#000;}
input[type=button]:active{
    background-color:#FBFBFB;
}

#erreur{
    vertical-align:middle;
    font-family:Verdana, Geneva, sans-serif;
    font-size:9px;
    color:#FF0000;
    text-align:center;
}

#submenu{
    font-family:"Arial";
    font-size:12px;
    text-align:center;
    width:20%;
    border-top-style:solid;

}
